<div id="container" class="text-blue-950 w-full h-full p-7">
  <div
    class="flex justify-center items-center h-full font-bold"
    id="homeContent"
  >
    <p class="m-2 mt-12 p-2 text-2xl">
      In the bustling world of task management, our To-Do Application stands out
      as the ultimate solution for staying organized and productive. It offers a
      range of features designed to make managing your tasks a seamless and
      efficient process. One of its standout features is task prioritization,
      allowing you to assign different levels of importance to your to-dos. With
      high, medium, and low priority options, you can always focus on what
      matters most. Task creation is a breeze with a user-friendly interface,
      enabling you to add tasks, set deadlines, add descriptions, and attach
      files or notes. The organized task list is color-coded based on priority,
      providing a quick visual overview of your daily agenda. It also syncs with
      the cloud for accessibility from multiple devices and ensures the security
      and privacy of your data. Customize it to your needs and experience an
      efficient and stress-free way to achieve your goals.
    </p>
  </div>
  <div class="flex items-center justify-center h-full" id="loginContent">
    <div
      id="authForm"
      class="border border-4 border-indigo-950 p-8 bg-indigo-600 rounded-md w-[75%]"
    >
      <app-user-auth></app-user-auth>
    </div>
  </div>
</div>
